.mainContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mainContainer p {
  margin-bottom: 1rem;
}

.mainContainer button {
  padding: 6px 12px;
  text-align: center;
  cursor: pointer;
  transition: background-color .3s;
  border-radius: 10px;
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin: 1rem;
  border: none;
}

.mainContainer button:disabled {
  background-color: grey;
  color: lightgrey;
  cursor: not-allowed;
  border: none;
}

.mainForm {
  display: grid;
  grid-template-columns: 16rem 16rem;
  gap: 1rem;
  padding: 0;
};