.inputNumberLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inputNumber {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  height: 2rem;
  padding: 0.5rem;
  margin-top: 1rem;
  background: #fff;
}

.inputNumber::-webkit-outer-spin-button,
.inputNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}