* {
	margin:0;
	padding:0;
}

body::before {
  content:""; /* required for ::before */
  position:fixed; /* don't scroll with page */
  z-index:-100; /* place behind elements on page */
  width:100vw;
  height: 100vh;
  background-color:#7f8e8f;
  background-image: 
  radial-gradient(circle farthest-side at top right, transparent, #84abf0), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #a789c0);
  animation:bg-change 10s infinite;
}

@keyframes bg-change {
	0%, 100% {
		filter:hue-rotate(0deg);
	}
	50% {
		filter:hue-rotate(-45deg);
	}
}